@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

.nFont {
    font-size: 16.4px !important;
    font-weight: 400 !important;
}

.hFont {
    font-size: 16px.4px !important;
    font-weight: 700 !important;
}

.top-portion {
    padding-top: 10.5px;
    height: 68.5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.welcome-portion {
    background: linear-gradient(135deg, #5548c3, #0d2780);
    height: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#waiting-text {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 5px;
    color: #ffffff;
    text-align: center;
}

#menu {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    top: 45px;
    right: 97px;
    margin-top: -33px;
    margin-left: 173.5px;
}

#menu-img-div {
    width: 42.5px;
}

#menu-img {
    border-radius: 50%;
    margin-top: 12px;
    width: 42.5px;
}

#menu-on {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 35%;
    background-color: #000000;
    z-index: 9;
    overflow: hidden;
}

#menu-list {
    background-color: #ffffff;

    padding-bottom: 14px;
    border-radius: 13px;
    width: 163px;
    text-align: right;
    display: none;
}

.menu-list-items {
    padding-right: 18px;
    padding-top: 16px;
    padding-bottom: 5.5px;
    font-size: 18px;
    cursor: pointer;
}

#name {
    font-size: 30px;
}

#awaits {
    font-size: 22.7px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.clear-filter-btn {
    display: flex;
    justify-content: space-between;

}

.search-section {
    /* margin-top: 36px; */
    /* margin-bottom: -2px; */
    display: flex;
    justify-content: center;
}

.search-box {
    width: 704px;
    height: 50px;
    border: 2.5px solid #5271ff;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 8px;
}

#search-text {
    border: none;
    outline: none;
    width: 100%;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 15px;
}

#search-text::placeholder {
    font-size: 15px;
    color: #a9cbfa;
}

.search-img-div {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

#search-img {
    width: 50px;
    height: 50px;
}

.search-filter-img-div {
    margin-left: 18px;
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 5px;
}

#search-filter-img {
    width: 55px;
    height: 55px;
}

.section {
    margin-left: 98px;
    margin-top: 40px;
    margin-bottom: 24px;
}

.section-heading {
    font-weight: bold;
    font-size: 23.5px;
    margin-top: 25.5px;
    margin-bottom: 20.5px;
}

.popular-job-img-div {
    overflow: hidden;
    width: 53px;
    height: 53px;
    border-radius: 7.5px;
}

.popular-job-img {
    width: 50px;
    height: 50px;
}

#popular-jobs-list {
    width: fit-content;
    margin-left: -1.4vw;
}

.popular-job-items {
    background: linear-gradient(135deg, #41bbff, #006dff);
    color: #ffffff;
    border-radius: 12px;
    flex: 1 0 350.93px;
    margin-left: 22.5px;
    margin-right: 7.5px;
    padding: 19px;
    height: auto;
}

.popular-job-text {
    margin-left: 3.3%;
}

.popular-job-top-div {
    margin-bottom: 12.5px;
}

.btnAll {
    background-color: #6cbfff;
    padding: 10px 7px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex: 1 1 190px;
    text-align: center;
}

div.popular-job-timing {
    background-color: #5fafff;
    padding: 5px 0;
}

div.popular-job-details-div div.popular-job-location {
    background-color: #529fff;
    padding: 5px 0;
}

.popular-job-company {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1px;
    /* margin-bottom: 7px; */
}

.popular-job-location {
    font-size: 17.5px;
}

.popular-job-position {
    font-weight: bold;
    font-size: 20.1px;
}

.popular-job-minimum-experience {
    font-size: 17.8px;
    margin-top: 6px;
}

.popular-job-details-div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.popular-job-details-div div {}

#recent-jobs-list {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    /* margin-left: -19px; */
}

.populerJobContainer {
    width: 95%;
}

.recent-job-items {
    background-color: #f2f7ff;
    flex: 1 1 42vh;
    min-height: 97px;
    border-radius: 12px;
    padding: 0 8px 0 8px;
    display: flex;
    align-items: center;
}

.recent-job-img-div {
    width: 93.3px;
    height: 93.3px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-job-img {
    width: 80%;
}

.recent-job-text-div {
    width: 77.9%;
    margin-left: 3.5%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.recent-job-company {
    color: #004aad;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 11px;
}

.recent-job-details {
    font-size: 17.8px;
}

/* #filter-on {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 30%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    z-index: 11;
    overflow-y: hidden;
} */



.main-portion {
    position: relative;
}

.g-2 {
    gap: 10px;
}

.searchMainSection {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 80px;
    border-radius: 25px 25px 0 0;
    position: absolute;
    top: 143px;
}

.recentSection {
    width: 90%;
    justify-content: space-between;
}

.containerCenter {
    width: 100%;
    display: flex;
    justify-content: center;
}

.costomClass {
    justify-content: end !important;
}

/* .filter-types-bottom {
    width: 100%;
    padding: 12px;
    height: 200px;
    background: #004aad;
} */

@media only screen and (max-width: 1080px) {
    /* .add-filter-button-div{
        background-color: #ffffff !important;
    }

    .deskFilter {
        display: none;
    }

    .filterResBox {
        display: block;
    }

    .bottomFilter {
        display: block;
    } */

    .top-portion {
        height: 9.5vw;
    }

    .section {
        margin-left: 3.55vw;
        margin-bottom: 7.85vw;
    }

    .welcome-portion {
        height: 210px;
        justify-content: left;
    }

    #waiting-text {
        text-align: left;
        margin-left: 3.52vw;
        margin-bottom: 50px;
    }

    #name {
        margin-top: 10px;
        font-size: 22px;
    }

    #awaits {
        margin-top: 10px;
        font-size: 18px;
    }

    .search-section {
        /* margin-top: 5.8vw;
        margin-bottom: 7.75vw; */
        margin-top: 25px;
    }

    .search-box {
        width: 77vw;
        height: 8vw;
        padding-left: 1.7vw;
        padding-right: 1.4vw;
        border-radius: 2vw;
        border-width: 0.4vw;
        overflow-y: hidden;
        padding-top: 0.4vw;
    }

    /* #search-text::placeholder,
    #search-text {
        font-size: 3.4vw;
    }

    .search-filter-img-div {
        margin-left: 2.4vw;
    }

    .search-filter-img-div,
    #search-filter-img {
        width: 9.3vw;
        height: 9.3vw;
        background-color: #000000;
    } */

    .section-heading {
        font-size: 20px;
        margin-bottom: 2.8vw;
    }

    #popular-jobs-list {
        margin-left: -1.2vw;
    }

    .popular-job-img-div,
    .popular-job-img {
        width: 30px;
        height: 30px;
    }

    .popular-job-text {
        margin-left: 1.2vw;
    }

    .popular-job-company {
        margin-top: 0.4vw;
        font-size: 3.37vw;
    }

    .popular-job-position {
        font-size: 3.65vw;
    }

    .popular-job-minimum-experience {
        font-size: 3.225vw;
    }

    .popular-job-top-div {
        /* padding-top: 0.1vw;
        margin-bottom: 3.5vw; */
    }

    .popular-job-details-div {
        margin-top: 2.3vw;
    }

    .popular-job-details-div div {
        padding-top: 1.2vw;
        border-radius: 1.25vw;
    }

    .search-img-div,
    #search-img {
        width: 10.5vw;
        height: 9.9vw;
        margin-top: -0.5vw;
    }

    .search-img-div {
        overflow: hidden;
    }

    #menu {
        top: 35px;
        right: 3.75vw;
    }

    #menu-list {
        width: 35.6vw;
        margin-top: 4.5vw;
        padding-top: 1.25vw;
        border-radius: 1.75vw;
    }

    #menu-on {
        opacity: 25%;
    }

    .menu-list-items {
        font-size: 3.75vw;
        padding-right: 4vw;
        padding-top: 2.52vw;
        padding-bottom: 2.52vw;
    }

    .recent-job-img-div {
        border-radius: 1.6vw;
    }

    .recent-job-text-div {
        margin-left: 3.5vw;
    }

    .recent-job-company {
        font-size: 3.6vw;
    }

    .recent-job-details {
        font-size: 3.22vw;
        margin-left: 0.25vw;
    }



    /* #filters-box-mini {
        position: fixed;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #ffffff;
        flex-direction: column;
    } */

    /* #filter-types {
        height: 100vh;
    } */

    /* #filter-types-top {
        height: fit-content;
        background-color: #ffffff;
        border-bottom: 1pt solid hsla(0, 0%, 83%, 0.5);
    } */

    /* .filter-items {
        padding: 13px 17px;
        font-size: 12px;

        cursor: pointer;
    } */

    .option-items {
        padding-left: 18.56px;
    }

    .option-item-checkboxes {
        margin-top: 5.632px;
        margin-bottom: 5.632px;
        width: 12.352px;
        height: 12.352px;
    }

    .option-item-labels {
        font-size: 12px;

    }

    /* .addFilter {
        width: 100%;
        max-width: 100%;
    } */

    .country-select-div {
        margin-left: 0px;
    }

    .country-select {
        margin-left: -0.15vw;
        width: 57.65vw;
        height: 9.65vw;
        border-radius: 1.9vw;
        border: 0.4vw solid black;
        font-size: 3vw;
        padding: 1.5vw;
        margin-top: 1.7vw;
        margin-bottom: 5.45vw;
        margin-right: 0px;
    }

}