*{
    margin:0;
    padding:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar{
    display: none;
}
:webkit-tap-highlight{
    display: none;
}

#header{
    height: 9vw;
    background: linear-gradient(to right, #2e0aac, #823ab3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 5.2vw;
    margin-top: 1.3vw;
    border-radius: 15px;
}
#header h1{
    font-size: 23.4px;
    font-weight: 700;
}
#header h2{
    font-size: 20.4px;
    font-weight: 700;
}
#header .name_section{
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    text-align: center;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#portal_body{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.6vw;
    padding:0 23vw;
    margin: 0 5.2vw;
    margin-top: 1.9vw;
}
#portal_body .pTop_text{
  font-size: 16.4px;
  font-weight: 700;
  color:black;
  text-align: center;
}

#portal_body .pMid_text, .pBottom_text{
    font-size: 16.4px;
    font-weight: 400;
    color:black;
    text-align: center;
}
.pBottom_text{
    margin-top: 5px;
}
#register_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.9vw;
} 

.buttons{
    width: 410px;
    border: 1px solid #006DFF;
    color:#006DFF;
    font-weight: 700;
    font-size: 16.4px;
    padding: 14px 0px;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    text-align: center;
}
.buttons:hover{
    transition: 0.3s ease;
    background-color: #006DFF;
    color: white;
    outline:none;
}



                             /* for responsive mobile screen */

@media screen and (max-width:800px){
    #header{
        height: 110px;
        margin: 0 3.3vw;
        margin-top: 1.8vw;
        border-radius: 15px;
    }
    #header .name_section{
        gap: 18px;
    }
    #header h1{
        font-size: 15.4px;
    }
    #header h2{
        font-size: 12.4px;
    }
    #portal_body{
        margin: 0px 3.3vw;
        margin-top: 10.5vw;
        padding: 0 4vw;
        gap:2.9vw;
    }
    #portal_body .pTop_text{
        font-size: 14px;
        margin: 0 10px;
    }
    #portal_body .pMid_text, .pBottom_text{
          font-size: 14px;
          margin: 0 px;
    }
    .pBottom_text{
        margin-top: 7px;
    }
    #register_btn{
        margin: 0px 3.3vw;
        margin-top: 10.5vw;

    }
    .buttons{
        font-size: 14px;
        width: 100%;
        border-radius: 7px;
        padding: 11px 0px;
    }
}                             


/* This is form section code */

#form{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 35px;
   margin-top: 4px;
   margin-bottom: 110px;
   display: none;
}

.logo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    width: 22.5%;
}

.logo_container .logo{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 15.3px;
    box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.75);
    color: #A9CBFA;
    font-weight: 700;
    text-align: center;
    height: 120px;
    width:  120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.logo_container span{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.logo_container img{
    height: 100%;
    width: 100%;
    display: none;
}
.company_container, 
.designation_container,
.identity_container,
.employment_container,
.about_container,
.location_container,
.submit_container
{
    display: flex;
    flex-direction: column;
    gap:17px;
    width: 42.5%;
}

.sHeading{
    font-size: 16.4px;
    font-weight: 700;
}
.sInput{
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 14px 13px;
    font-weight: 400;
    font-size: 16.4px;
    outline: none;
    resize: none;
    box-sizing: border-box;
}
#textArea{
    height: 372px;
}
.sInput::placeholder{
    color:#A9CBFA;
    font-size: 16.4px;
}



#form .buttons{
    width: 100%;
    border: 1px solid #006DFF;
    color:#006DFF;
    font-weight: 700;
    font-size: 16.4px;
    padding: 14px 0px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    margin-top: 2px;
    text-align: center;
}
#form .buttons:hover{
    transition: 0.3s ease;
    background-color: #006DFF;
    color:white;
    outline: none;
}

.submit_container{
    margin-top: 20px;
}

/*START =>> this is complete Dropdown filed CSS code*/
.dropDownDivContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
.inputDiv{
    color:black;
    font-size: 16.4px;
    font-weight: 600;
    padding: 14px 13px;
    border-radius: 5px;
    background-color: #F2F7FF;
    position: relative;
    width: 100%;
    color: #A9CBFA;
    box-sizing: border-box;
    cursor: pointer;
  }
  .inputDiv img{
    position: absolute;
    height: 8px;
    right: 9px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .dropDownContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 75%;
    width: 52.5%;
    border-radius: 12px;
    overflow: scroll;
    z-index: 999;
    display: none;
  }
 
  .dropDownContainer ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.4vw;
    width: 91%;
  }
  .dropDownContainer ul li{
    color: black;
    background-color:#F2F7FF ;
    border-radius: 8px;
    font-size: 16.4px;
    width: 100%;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14px 0px;
  }
  .dropDownContainer ul li:hover{
    transition: 0.3s ease;
    background-color: #006DFF;
    color:white;
  }
  .dropDownHeading{
    text-align: center;
    width: 100%;
    font-size: 16.4px;
    font-weight: 700;
    cursor: auto;
    margin: 30px 0;
    user-select: none;
 }


/*END =>> this is complete Dropdown filed CSS code*/
  /*START =>>(2) this is complete Dropdown filed CSS code*/
.dropDownDivContainer1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
.inputDiv1{
    color:black;
    font-size: 16.4px;
    font-weight: 600;
    padding: 14px 13px;
    border-radius: 5px;
    background-color: #F2F7FF;
    position: relative;
    width: 100%;
    color: #A9CBFA;
    box-sizing: border-box;
    cursor: pointer;
  }
  .inputDiv1 img{
    position: absolute;
    height: 8px;
    right: 9px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .dropDownContainer1{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 75%;
    width: 52.5%;
    border-radius: 12px;
    overflow: scroll;
    z-index: 999;
    display: none;
  }
  .dropDownContainer1 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.4vw;
    width: 91%;
  }

  .dropDownContainer1 ul li{
    color: black;
    background-color:#F2F7FF ;
    border-radius: 8px;
    font-size: 16.4px;
    width: 100%;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14px 0px;
  }
  .dropDownContainer1 ul li:hover{
    transition: 0.3s ease;
    background-color: #006DFF;
    color:white;
  }


/*END =>>(2) this is complete Dropdown filed CSS code*/

#overlay{
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#overlay1{
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.smallBar{
    display: none;
}
/* this is Form responsive section */

@media screen and (max-width:800px){
    #form{
        gap: 35px;
        padding: 0 16px;
        margin-bottom: 70px;
     }
    .logo_container{
        gap:25px;
        width: 58%;
    }
    
    .company_container, 
    .designation_container,
    .identity_container,
    .employment_container,
    .about_container,
    .location_container,
    .submit_container
    {
        display: flex;
        flex-direction: column;
        gap:10px;
        width: 100%;
    } 
    .sHeading{
        font-size: 14px;
    }
    .sInput{
        padding: 11px 9px;
        font-size: 14px;
        display: flex;
    }
    #form .buttons{
        padding: 11px 9px;
        font-size: 14px;
    }
    #textArea{
        height: 265px;
    }
    .sInput::placeholder{
        font-size: 14px;
    }
    .location_container{
        gap:10px;
    }
    .inputDiv{
        font-size: 14px;
        padding: 11px 9px;
    }
    .inputDiv1{
        font-size: 14px;
        padding: 11px 9px;
    }
    .dropDownContainer ul li{
        font-size: 14px;
        font-weight: 400; 
    } 
    .dropDownContainer1 ul li{
        font-size: 14px;
        font-weight: 400; 
    } 
    .smallBar{
        display: flex;
        margin-top: 20px;
        height: 3px;
        width: 36px;
        border: none;
        border-radius: 10px;
        outline: none;
        background-color: #A9CBFA;
    }
    .dropDwonHeading{
        font-size: 14px;
        margin:32px 0;
    }
    .dropDownContainer{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 75%;
        width: 100%;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        display: none;
    }
    .dropDownContainer ul{
        width: 93.5%;
        gap:12px;
    }
    .dropDownContainer1 ul li{
        font-size: 14px;
        font-weight: 400; 
    } 
    .dropDownContainer1{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 75%;
        width: 100%;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        display: none;
    }
    .dropDownContainer1 ul{
        width: 93.5%;
        gap:12px;
    }
}  